<!DOCTYPE html>
<html>
<head>
  <title>GettingStarted</title>
  <%= stylesheet_link_tag  'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
